@model Leikjavefur.ViewModels.GameInstanceViewModel

<h2>@Model.Game.Name</h2>

<div id="gameinfo">
    
    <p>Leikur stofnaður af: @Model.Players.First().UserName</p>
    <p>Spilarar í þessum leik:</p>

    <div id="playerslist">
    @foreach(var player in Model.Players)
    {
        @Html.DisplayFor(modelItem => player.UserName );
        <p></p>
    }
    </div>
    <p id="waitingForPlayers"></p>
</div>

<script>
    var myGameGroup = '@Model.GameInstance.GameInstanceID';
    var userId2 = '@WebSecurity.CurrentUserId';
    var realGameId = '@Model.Game.GameID';
    var userName = '@WebSecurity.CurrentUserName';
    var playerNumber = '@Model.Players.ToArray().Count()';
    var minPlayers = '@Model.Game.MinPlayers';
    var maxPlayers = '@Model.Game.MaxPlayers';

    //$('listplayer1').css('background-color', 'white');

    function deleteGame() {
        document.location = '@Url.Action("DeleteGameInstance", "GameInstance", Model.GameInstance, null)';
    };

    function getRealGameId() {
        return realGameId;
    };

    function getUserId() {
        return userId2;
    };

    function getMyUserName() {
        return userName;
    };

    function getMinPlayers() {
        return minPlayers;
    };

    function getMaxPlayers() {
        return maxPlayers;
    };

    function getMyPlayerNumber() {
        return playerNumber;
    };

    function getGameGroup() {
        return myGameGroup;
    };

    if (playerNumber >= minPlayers)
        $("#waitingForPlayers").text("Beðið eftir að leikur hefst");
    else
        $("#waitingForPlayers").text("Beðið eftir " + (minPlayers - playerNumber) + " spilurum");
</script>


@RenderPage(Model.Game.Name + ".cshtml", new {target = "_blank"})

<input type="button" id="startGame" value="Hefja Leik" />
<input type="button" id="deleteGame" value="Hætta leik"/>

<script>
    $("#startGame").hide();
    $("#deleteGame").hide();
</script>