﻿@model Leikjavefur.ViewModels.GameInstanceViewModel

<table id="tictactoe">
	<tbody>
		<tr>
			<td id="1">&nbsp;</td>
			<td id="2">&nbsp;</td>
			<td id="3">&nbsp;</td>
		</tr>
		<tr>
			<td id="4">&nbsp;</td>
			<td id="5">&nbsp;</td>
			<td id="6">&nbsp;</td>
		</tr>
		<tr>
			<td id="7">&nbsp;</td>
			<td id="8">&nbsp;</td>
			<td id="9">&nbsp;</td>
		</tr>
	</tbody>
</table>

<script>
    var myGameGroup = '@Model.GameInstance.GameInstanceID';
    var player1 = '@Model.Players.ToArray()[0].UserID';
    var playerNumber = '@Model.Players.ToArray().Count()';
    var mMark = '';
    var hMark = '';
    var startTurn = false;
    var minPlayers = '@Model.Game.MinPlayers';
    var maxPlayers = '@Model.Game.MaxPlayers';

    @{
        int value;
        value = WebSecurity.CurrentUserId;
        string user = Convert.ToString(value); 
    }
    var currentUserId = '@user';
      
    if (currentUserId == player1) {
        mMark = 'X';
        hMark = 'O';
        startTurn = true;
    }
    else {
        mMark = 'O';
        hMark = 'X';
    }

    function getHisMark(){
        return hMark;
    };

    function getMyMark() {
        return mMark;
    };
    
    function getGameGroup() {
        return myGameGroup;
    };

    function getMyTurn() {
        return startTurn;
    };

    function getMyPlayerNumber() {
        return playerNumber;
    };

    function getGameName() {
        return gameName;
    };

    function getMinPlayers() {
        return minPlayers;
    };

    function getMaxPlayers() {
        return maxPlayers;
    };

    if (playerNumber == 2)
        $("#waitingForPlayers").text("Waiting for game to start!");
    else
        $("#waitingForPlayers").text("Waiting for: " + (2 - playerNumber) + " player");
</script>