<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Leikjavefurinn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
		<script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
		<script src="~/signalr/hubs"></script>
        @RenderSection("scripts", required: false)
    </head>
    <body>

<div id="body">
    <div id="leftChat">
	    <div id="leftsearch">
		    <input type="text" id="leftsearchbox">
		    <input type="button" value="Search">
	    </div>
	    <div id="vinir">
		    <p id="vinirtext">Vinir</p>
            @Html.Partial("_FriendsPartial")
	    </div>
	    <div id="leikirchat">
		    <p>Leikir</p>
            @Html.Action("GamesList", "Games")
        </div>
    </div>
    
    <div id="middle">
            <div id="profile">
                <div id="avatar">
                    @Html.ActionLink(" ", "Index", "Home", new { style = "background: url('" + Url.Content("~/Images/avatar.bmp") + "') no-repeat center right; display:block; height:155px; width:155px;"})    
                </div>
                <div id="profileinfo">
                    <section id="login"> 
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Notendur", "Index", "Users")</li>
                            <li>@Html.ActionLink("Leikir", "Index", "Games")</li>
                        </ul>
                    </nav>
                </div>
               
            </div>
             <div id="mainPage">
                    <div id="nyskra">
                        @RenderSection("featured", required: false)
                        <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                        </section>
                    </div>
                </div>
      </div>
      
      <div class="rightChat">
	        <div id="rightsearch">
		        <input type="text" id="rightsearchbox">
		        <input type="button" value="Search">
	        </div>
	        <div id="notendur">
		        <p>Notendur</p>
                @Html.Action("UserList", "Users")
	        </div>
	        <div id="spjall">
		        @Html.Partial("~/Views/Chat/index.cshtml")
	        </div>
        </div>

        @*<div id="spjallgluggi">
		    <input type="text" id="spjallbox">
		    <input type="button" id="spjalltakki" value="Senda">
        </div>*@
        
</div>   
    </body>
</html>
