<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Leikjavefurinn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
		<script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
		<script src="~/signalr/hubs"></script>
        <script src ="/Scripts/LeikjavefurinnSignalR.js"></script>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css"> @* Fyrir tabs *@
        @RenderSection("scripts", required: false)
        @RenderSection("GameStyles", required: false)
        <script type='text/javascript'>
            $(window).load(function () {
                $("#tabs").tabs();
            });
        </script>
    </head>
    <body>


        <div id="leftChat">
            @if (Request.IsAuthenticated) 
            {
	            <div id="leikirchat">
                    @Html.Action("GamesList", "Games")
                </div>
                <div id="ongoingGames">
                    @Html.Action("Index", "GameInstance")
                </div>
            }
            else
            {
                @Html.Partial("_LoginPartial")
            } 
        </div>
    
        <div id="middle">
            <div id="profile">
                @if (Request.IsAuthenticated)  
                {
                    @Html.Action("_ProfilePartial", "Users")
                } 
                @if(!Request.IsAuthenticated)
                {    
                    @*<section id="login"> 
                        @Html.Partial("_LoginPartial")
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </section>*@
                }
            </div>
               
            <div id="mainPage">
                <div id="nyskra">
                    @*@RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">*@
                        @RenderBody()
                    @*</section>*@
                </div>
            </div>
        </div>

        <div id="rightChat">
            <div id="tabs">
                <ul class="tabs">
                    <li><a href="#tabs-1">Allir Notendur</a></li>
                    @if(WebSecurity.IsAuthenticated) { <li><a href="#tabs-2">Vinir</a></li> }
                </ul>
                <div id="tabs-1" class="tabcontent">
                    <p>
                        @Html.Action("UserList", "Users")
                    </p>
                </div>
                @if(WebSecurity.IsAuthenticated)
                {
                    <div id="tabs-2" class="tabcontent">
                        <p>
                            @Html.Action("FriendsList", "Users")
                        </p>
                    </div>
                }
            </div>
            <div id="spjall">
                @Html.Action("ChatPartial", "Chat")
            </div>
        </div>
    </body>
</html>


