<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Leikjavefurinn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/css")*@
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left" style="float:left">
                    <p class="site-title">@Html.ActionLink(" ", "Index", "Home", new { style = "background: url('" + Url.Content("~/Images/logo.jpg") + "') no-repeat center right; display:block; height:251px; width:201px;"})</p>
                    @*<h2>Chuck Norris can write infinite recursion functions … and have them return</h2>*@
                </div>
                <div class="float-right">
                    <section id="login">
                        
                        @Html.Partial("_LoginPartial")
                    </section>
                    @*<nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("User", "Index", "User")</li>
                            <li>@Html.ActionLink("Game", "Index", "Game")</li>
                            <li>@Html.ActionLink("Clan", "Index", "Clan")</li>
                        </ul>
                    </nav>*@
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
