<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Leikjavefurinn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

<div id="body">
    
    @*Left Column*@
    <div id="leftChat">
	    <div>
		    <input type="text" id="searchbox">
		    <input type="button" value="Search">
	    </div>
	    <div id="vinir">
		    <p id="vinirtext">Vinir</p>
	    </div>
	    <div id="leikirchat">
		    <p>Leikir</p>
	    </div>
    </div>
   
    @*Middle Page*@
    <div id="middle">            
            <div id="profile">
                <div id="avatar">
                    @Html.ActionLink(" ", "Index", "Home", new { style = "background: url('" + Url.Content("~/Images/avatar.bmp") + "') no-repeat center right; display:block; height:155px; width:155px;"})    
                </div>
                <div id="profileinfo">
                    <section id="login"> 
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Notendur", "Index", "Users")</li>
                            <li>@Html.ActionLink("Leikir", "Index", "Games")</li>
                        </ul>
                    </nav>
                </div>
            </div>
                <div id="mainPage">
                    
                        @RenderSection("featured", required: false)
                        <section id="render">
                        @RenderBody()
                        </section>          
                </div>
            </div>

            
            @*Right column*@
            <div class="rightChat">
	            <div>
		            <input type="text" id="searchbox2">
		            <input type="button" value="Search">
	            </div>
	            <div id="notendur">
		            <p>Notendur</p>
	            </div>
	            <div id="spjall">
		            <p>spjall</p>
	            </div>
            </div>

            <div id="spjallgluggi">
		            <input type="text" id="spjallbox">
		            <input type="button" id="spjalltakki" value="Senda">
            </div>

      </div>       
           

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
