@model Leikjavefur.Models.LocalPasswordModel
@{
    ViewBag.Title = "Notendasnið";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Notendanafn: @User.Identity.Name</p>
<p>Tölvupóstfang: </p>

<section>
    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
