@model Leikjavefur.Models.UserProfile

@* This partial view defines form fields that will appear when creating and editing entities *@

@if (User.IsInRole("Administrator"))
{
    <div class="editor-label">
        @Html.LabelFor(model => model.UserName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UserName)
        @Html.ValidationMessageFor(model => model.UserName)
    </div>
}
<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Avatar)
</div>
<div class="editor-field" id="AvatarSelector">
    @Html.DropDownListFor(Model => Model.Avatar, new SelectList(
        new List<Object>{
                new { value ="avatar1.png", text = "Avatar 1"},
                new { value ="avatar2.png", text = "Avatar 2"},
                new { value ="avatar3.png", text = "Avatar 3"},
                new { value ="avatar4.png", text = "Avatar 4"},
                new { value ="avatar5.png", text = "Avatar 5"},
            }, "value","text", 2), new {style="width:150px;"})
    
    @*@Html.EditorFor(model => model.Avatar)*@
    @Html.ValidationMessageFor(model => model.Avatar)
</div>

@*<div class="editor-label">
    @Html.LabelFor(model => model.DateCreated)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DateCreated)
    @Html.ValidationMessageFor(model => model.DateCreated)
</div>*@

<div class="editor-label">
    @Html.LabelFor(model => model.About)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.About)
    @Html.ValidationMessageFor(model => model.About)
</div>
@*<div id="AvatarsAvailible">
    <img src="~/Images/avatar1.png" />
    <img src="~/Images/avatar2.png" />
    <img src="~/Images/avatar3.png" />
    <img src="~/Images/avatar4.png" />
    <img src="~/Images/avatar5.png" />
</div>*@
