@model Leikjavefur.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">@Model.UserName</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">Avatar</div>
    <div class="display-field">@Model.Avatar</div>

    <div class="display-label">DateCreated</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateCreated)</div>

    <div class="display-label">IsAdmin</div>
    <div class="display-field">@Model.IsAdmin</div>

    <div class="display-label">About</div>
    <div class="display-field">@Model.About</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


