@model Leikjavefur.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<div class="textcenter">
    <h2>Notendasnið</h2>
</div>
<fieldset id="details">

    <div id="avatar">

        <object data="~/Images/@Model.Avatar">
            <img src="~/Images/avatar3.png"  />
        </object>
    </div>

    <div class="display-label">Nafn: <p>@Model.UserName</p></div>
    
    <div class="display-label">Netfang: <p>@Model.Email</p></div>

    <div class="display-label">Fyrst Innskráður: <p>@String.Format("{0:g}", @Model.DateCreated)</p></div>

    <div class="bio">----Um mig----</div>
    <div class="display-field">@Model.About</div>
</fieldset>

<p>
    <div class="textcenter">
        @if (User.IsInRole("Administrator") || WebSecurity.CurrentUserId == Model.UserID)
        {
                @Html.ActionLink("Edit", "Edit", new { id=Model.UserID })
        }
        @if (User.IsInRole("Administrator"))
        {
            @: | 
            @Html.ActionLink("Til Baka", "Index")
        }
    </div>
</p>


