@model Leikjavefur.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<h2>Prófíll</h2>

<fieldset id="details">

    <div id="avatar">
    @Html.ActionLink(" ", "Index", "Home", new { style = "background: url('" + Url.Content("~/Images/avatar.bmp") + "') no-repeat center right; display:block; height:155px; width:155px;"})    
     @*<div class="display-label">Avatar</div>
     <div class="display-field">@Model.Avatar</div>*@
    </div>

    <div class="display-label">Nafn: <p>@Model.UserName</p></div>
    
    <div class="display-label">Netfang: <p>@Model.Email</p></div>

    <div class="display-label">Fyrst Innskráður: <p>@String.Format("{0:g}", @Model.DateCreated)</p></div>

    <div class="bio">----Um mig----</div>
    <div class="display-field">@Model.About</div>
</fieldset>

<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "Edit", new { id=Model.UserID })
        @Html.ActionLink("Til Baka", "Index")
    }
</p>


