@model Leikjavefur.Models.UserProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>UserProfile</legend>

        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.DateCreated)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Back to List", "Details")
    }
</div>
