@using System.Web.Security;

@model IEnumerable<Leikjavefur.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Listi yfir notendur</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        @foreach (var role in System.Web.Security.Roles.GetAllRoles())
        {   <th>@role</th>   }
        <th></th>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            DateCreated
        </th>
@*        <th>
            About
        </th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        @foreach (var role in System.Web.Security.Roles.GetAllRoles())
        {
            <td>
                @if (Roles.IsUserInRole(item.UserName, role))
                {   @Html.ActionLink("True | ",   "ToggleRoleMembership", "Users", new { username=item.UserName , rolename=role }, null)  }
                else
                {   @Html.ActionLink("False | ",  "ToggleRoleMembership", "Users", new { username=item.UserName , rolename=role }, null)  }
            </td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
        <td>
			@item.UserName
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@String.Format("{0:g}", item.DateCreated)
        </td>
@*        <td>
			@item.About
        </td>*@
    </tr>
}

</table>


