@model IEnumerable<Leikjavefur.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Avatar
        </th>
        <th>
            DateCreated
        </th>
        <th>
            IsAdmin
        </th>
        <th>
            About
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
        <td>
			@item.UserName
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.Avatar
        </td>
        <td>
			@String.Format("{0:g}", item.DateCreated)
        </td>
        <td>
			@item.IsAdmin
        </td>
        <td>
			@item.About
        </td>
    </tr>
}

</table>


