@model IQueryable<Leikjavefur.Models.UserProfile>

@{
    Layout = null;
}

<ul class="popup">
    @foreach (var item in Model) 
    {
        @*@Html.DisplayFor(modelItem => item.UserName)*@
        <li>
            @Html.ActionLink(item.UserName, "Details", new { id=item.UserID })
            <div class="popup-right-upper">
                <div id="dialog-form">
                    <form>
                        <fieldset>
                            <legend>@item.UserName</legend>
                            @item.About
                            <br />
                            @if (Request.IsAuthenticated) 
                            {
                                @*Html.ActionLink("Vingast Við", "AddFriend", new { id=item.UserID })*@
                                <input type="button" value="Vingast við" onclick="location.href='@Url.Action("AddFriend", "Users", new { id=item.UserID })'" />
                            }
                        </fieldset>
                        <fieldset>

                        <div id="avatar">
                            @Html.ActionLink(" ", "Index", "Home", new { style = "background: url('" + Url.Content("~/Images/avatar.bmp") + "') no-repeat center right; display:block; height:155px; width:155px;"})    
                        </div>

                        <div class="display-label">Nafn: <p>@item.UserName</p></div>
                        <div class="display-label">Netfang: <p>@item.Email</p></div>
                        <div class="display-label">Fyrst Innskráður: <p>@String.Format("{0:g}", @item.DateCreated)</p></div>
                        <div class="display-field">@item.About</div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </li>
    }
</ul>