@model IEnumerable<Leikjavefur.ViewModels.UserProfileViewModel>

@{
    Layout = null;
}

@if (User.IsInRole("Administrator"))
{
    <h3>@Html.ActionLink("Notendur", "Index", "Users")</h3>
}
else
{
    <p>Notendur</p>
}

@*<ul class="popup">
    @foreach (var item in Model) 
    {
        <li>
            @Html.ActionLink(item.UserProfile.UserName, "Details", new { id=item.UserProfile.UserID })
            <div class="popup-right-upper">
                <div id="popup-form">
                    <form>
                        <fieldset>
                            <div id="avatar">
                                <object data="~/Images/@item.UserProfile.Avatar">
                                    <img src="~/Images/avatar3.png" />
                                </object>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </li>
    }
</ul>*@


@foreach (var item in Model) 
{
    <div class="UserImage">
    <img src="~/Images/@item.UserProfile.Avatar"/>
        <div class="UserProfilePopup">
            <img src="~/Images/@item.UserProfile.Avatar" style="float:left" alt="Mynd vantar"/>
@*            <div id="UserProfilePopupUserName">
                @Html.Encode(item.UserProfile.UserName)
            </div>
            @Html.Encode(item.UserProfile.About)*@
            <div class="display-label">Nafn: @item.UserProfile.UserName</div>
            <div class="display-label">Netfang: @item.UserProfile.Email</div>
            <div class="display-label">Skráður: @String.Format("{0:g}", @item.UserProfile.DateCreated)</div>
            <div class="display-field">@item.UserProfile.About</div>

            @if (Request.IsAuthenticated) 
            {
                if (item.IsFriend)
                {   <input type="button" value="Taka af Vinalista" onclick="location.href='@Url.Action("RemoveFriend", "Users", new { id=item.UserProfile.UserID })'" />   }
                else
                {   <input type="button" value="Setja á Vinalista" onclick="location.href='@Url.Action("AddFriend", "Users", new { id=item.UserProfile.UserID })    '" />   }
            }
        </div>
    </div>
}


        

