@model IEnumerable<Leikjavefur.ViewModels.UserProfileViewModel>

@{
    Layout = null;
}

@if (User.IsInRole("Administrator"))
{
    <h3>@Html.ActionLink("Notendur", "Index", "Users")</h3>
}
else
{
    <p>Notendur</p>
}

@foreach (var item in Model) 
{
    <div class="UserImage">
    <img src="@item.UserProfile.Avatar"/>
        <div class="UserProfilePopup">
            <img src="@item.UserProfile.Avatar" style="float:left" alt="Mynd vantar"/>
            <div id="UserProfilePopupUserName">
                @Html.Encode(item.UserProfile.UserName)
            </div>
            @Html.Encode(item.UserProfile.About)
            dskfsækdjflsdkjfldskjflsdkjflsdkjflksdfjldskjfsd
        
        </div>
        

        

    </div>   
}
