@model Leikjavefur.Entities.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Game</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinPlayers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinPlayers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxPlayers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxPlayers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateAdded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAdded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Logo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.About)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.About)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rules)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rules)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
