@model Leikjavefur.Models.Statistic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Statistic</legend>

    <div class="display-label">UserProfile</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.UserProfile).ToString()</div>

    <div class="display-label">Game</div>
    <div class="display-field">@(Model.Game == null ? "None" : Model.Game.Name)</div>

    <div class="display-label">GamesPlayed</div>
    <div class="display-field">@Model.GamesPlayed</div>

    <div class="display-label">Wins</div>
    <div class="display-field">@Model.Wins</div>

    <div class="display-label">Losses</div>
    <div class="display-field">@Model.Losses</div>

    <div class="display-label">Draws</div>
    <div class="display-field">@Model.Draws</div>

    <div class="display-label">Points</div>
    <div class="display-field">@Model.Points</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


