@model IEnumerable<Leikjavefur.Models.Statistic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            User
        </th>
        <th>
            Game
        </th>
        <th>
            GamesPlayed
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
        <th>
            Draws
        </th>
        <th>
            Points
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.User).ToString()
        </td>
        <td>
			@(item.Game == null ? "None" : item.Game.Name)
        </td>
        <td>
			@item.GamesPlayed
        </td>
        <td>
			@item.Wins
        </td>
        <td>
			@item.Losses
        </td>
        <td>
			@item.Draws
        </td>
        <td>
			@item.Points
        </td>
    </tr>
}

</table>


