@using Leikjavefur.Models
@model IEnumerable<Leikjavefur.ViewModels.StatisticViewModel>

<table>
    <tr>
        <th>
            UserProfile
        </th>
        <th>
            GamesPlayed
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
        <th>
            Draws
        </th>
        <th>
            Points
        </th>
    </tr>
    @foreach (var stats in Model)
    {
        <tr>
            <td>
			    @Html.DisplayTextFor(_ => stats.UserName).ToString()
            </td>
                <td>
			    @stats.GamesPlayed
            </td>
            <td>
			    @stats.Wins
            </td>
            <td>
			    @stats.Losses
            </td>
            <td>
			    @stats.Draws
            </td>
            <td>
			    @stats.Points
            </td>
        </tr>
    }
</table>