@model Leikjavefur.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Game</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">MaxPlayers</div>
    <div class="display-field">@Model.MaxPlayers</div>

    <div class="display-label">MinPlayers</div>
    <div class="display-field">@Model.MinPlayers</div>

    <div class="display-label">Avatar</div>
    <div class="display-field">@Model.Avatar</div>

    <div class="display-label">DateAdded</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateAdded)</div>

    <div class="display-label">About</div>
    <div class="display-field">@Model.About</div>

    <div class="display-label">Rules</div>
    <div class="display-field">@Model.Rules</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


